
* {
  box-sizing: border-box;
}
/* .main {
  background-color: aliceblue;
} */
/* .shape-gen-con {
  height: 60vh;
} */
#shape-gen-wrapper {
  position: absolute;
  left: 0px;
  top: 0px;
  display: none;
  height: 50vh;
  width: 100%;
  overflow: hidden;
  /* z-index: 5; */
}

.shibe-img {
  height: 50px;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
}


.circle-square{
  position: absolute;
  user-select: none;
  z-index: 1000;
  pointer-events: none;
  
  opacity: 1;
  transition: opacity 1s ease-out
}

.hidden {
  display: none;
}
.over {
animation: fall 5s infinite;  
}

.visuallyhidden {
  opacity: 0;
}

.triangle {
  height: 70px;
  width: 70px;
  position: absolute;
  user-select: none;
  /* z-index: 1000; */
  pointer-events: none;
  clip-path: polygon(50% 80%, 0 0%, 100% 0%);
  opacity: 1;
  transition: opacity 1s ease-out
}
.triangle::before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    clip-path: polygon(50% 70%, 10% 8%, 90% 8%);
    background-color: white;
}
h1 {
  font-size: 1.6rem;
  margin-top: 0px;
}
legend {
  font-size: .87rem;
}
h2 {
  font-size: .87rem;
}
.shape-form {
  position: absolute;
  height: 50vh;
  width: 40vw;
  left: 20px;
  top: calc(100vh - 50vh);
  
}
.choices-con {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: .87rem;
}
.input-con {
  display: flex;
  align-items: center;
  width: 50px;
  /* align-self: baseline; */
}
.input-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 280px;
  margin-left: -5px;
}
.input-wrapper.yes-no {
  width: 165px;
}
.input-orange {
  font-size: .87rem;
}
#orange-label {
  color: orange;
}

#blue-label, #green-label {
  color: black;
}
.shape-preview {
  position: absolute;
  display: none;
  height: 50vh;
  width: 60vw;
  right: 0;
  top: calc(100vh - 50vh);
}
.circle-preview {
  height: 100px;
  width: 100px;
  border: 5px solid orange;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
}
.square-preview {
  height: 100px;
  width: 100px;
  border: 5px solid orange;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
}
.triangle-preview {
  height: 150px;
  width: 150px;
  background-color: orange;
  margin-left: auto;
  margin-right: auto;
  clip-path: polygon(50% 0%, 0 90%, 100% 90%);
  overflow: hidden;
}
.triangle-inner {
  height: 100%;
  width: 100%;
  background-size: cover;
  /* border-bottom: 5px solid orange; */
  clip-path: polygon(50% 10%, 8% 85%, 92% 85%);
}
.shape-hidden {
  display: none;
}
.btn-con {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.sub-btn {
  color: black;
  border: 2px solid black;
  background-color: white;
  padding: 4px 22px 4px 22px;
  margin-top: 10px;
}

.sub-btn:active {
  background-color: black;
  color: white;
}
.sub-btn:hover {
  cursor: pointer;
}
.sub-btn:last-child {
  margin-left: 10px;
}
.no-input {
  margin-left: 10px;
}
input[type="radio"] {

  border: 2px solid black !important;
}
input[type="radio"]:hover {
  cursor: pointer;
}

.img-preview {
  height: 100px;
  width: 100px;
  border: 5px solid transparent;

}
.falling {
  animation: myOrbit 5s ease-in-out;
}

@keyframes fall {
  from, 15% {
      transform: rotate(0);
      opacity: 1;
      animation-timing-function: cubic-bezier(.07,2.02,.67,.57);
  }
  50%, 60% {
      transform: rotate(90deg);
      opacity: 1;
      animation-timing-function: cubic-bezier(.13,.84,.82,1);
  }
  85%, to {
      transform: rotate(90deg);
      opacity: 0;
  }
}
@-webkit-keyframes myOrbit {
  from { -webkit-transform: rotate(0deg) translateX(150px) rotate(0deg); }
  to   { -webkit-transform: rotate(360deg) translateX(150px) rotate(-360deg); }
}

@-moz-keyframes myOrbit {
  from { -moz-transform: rotate(0deg) translateX(150px) rotate(0deg); }
  to   { -moz-transform: rotate(360deg) translateX(150px) rotate(-360deg); }
}

@-o-keyframes myOrbit {
  from { -o-transform: rotate(0deg) translateX(150px) rotate(0deg); }
  to   { -o-transform: rotate(360deg) translateX(150px) rotate(-360deg); }
}

@keyframes myOrbit {
  from { transform: rotate(0deg) translateX(150px) rotate(0deg); }
  to   { transform: rotate(360deg) translateX(150px) rotate(-360deg); }
}
